:root {
  --neutral-100: rgb(20, 20, 20);
  --neutral-200: rgb(31, 31, 31);
  --neutral-300: rgb(43, 43, 43);
  --neutral-400: rgb(56, 56, 56);
  --neutral-500: rgb(104, 104, 104);
  --neutral-600: rgb(144, 144, 144);
  --neutral-700: rgb(188, 188, 188);
  --neutral-800: rgb(200, 200, 200);
  --neutral-900: rgb(240, 240, 240);

  --green-600: rgb(65, 251, 62);
  --green-700: rgb(121, 254, 119);

  --red-700: rgb(254, 119, 119);

  --yellow-700: rgb(249, 254, 119);
}